# flyctl launch added from .gitignore
# Environment variables
**/.env

# Bootstrap keys
**/bootstrap-keys
**/bootstrap-keys/*

# Logs
**/*.log
**/swarm.log
**/p2p/swarm.log

# Dependencies
**/node_modules

# Build output
**/dist
**/build

# IDE files
**/.vscode
**/.idea

# Debug logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*

# System files
**/.DS_Store
**/Thumbs.db 

