# flyctl launch added from .gitignore
# Environment variables
**/.env

# Bootstrap keys
**/bootstrap-keys
**/bootstrap-keys/*

# Logs
**/*.log
**/swarm.log
**/p2p/swarm.log

# Dependencies
**/node_modules

# Build output
**/dist
**/build

# IDE files
**/.vscode
**/.idea

# Debug logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*

# System files
**/.DS_Store
**/Thumbs.db 

# flyctl launch added from node_modules/.pnpm/optimist@0.2.8/node_modules/optimist/.gitignore
node_modules/.pnpm/optimist@0.2.8/node_modules/optimist/**/node_modules
node_modules/.pnpm/optimist@0.2.8/node_modules/optimist/**/node_modules/*

# flyctl launch added from node_modules/.pnpm/secp256k1@5.0.1/node_modules/secp256k1/src/secp256k1/.gitignore
node_modules/.pnpm/secp256k1@5.0.1/node_modules/secp256k1/src/secp256k1/**/bench_inv
node_modules/.pnpm/secp256k1@5.0.1/node_modules/secp256k1/src/secp256k1/**/bench_ecdh
node_modules/.pnpm/secp256k1@5.0.1/node_modules/secp256k1/src/secp256k1/**/bench_ecmult
node_modules/.pnpm/secp256k1@5.0.1/node_modules/secp256k1/src/secp256k1/**/bench_sign
node_modules/.pnpm/secp256k1@5.0.1/node_modules/secp256k1/src/secp256k1/**/bench_verify
node_modules/.pnpm/secp256k1@5.0.1/node_modules/secp256k1/src/secp256k1/**/bench_schnorr_verify
node_modules/.pnpm/secp256k1@5.0.1/node_modules/secp256k1/src/secp256k1/**/bench_recover
node_modules/.pnpm/secp256k1@5.0.1/node_modules/secp256k1/src/secp256k1/**/bench_internal
node_modules/.pnpm/secp256k1@5.0.1/node_modules/secp256k1/src/secp256k1/**/tests
node_modules/.pnpm/secp256k1@5.0.1/node_modules/secp256k1/src/secp256k1/**/exhaustive_tests
node_modules/.pnpm/secp256k1@5.0.1/node_modules/secp256k1/src/secp256k1/**/gen_context
node_modules/.pnpm/secp256k1@5.0.1/node_modules/secp256k1/src/secp256k1/**/*.exe
node_modules/.pnpm/secp256k1@5.0.1/node_modules/secp256k1/src/secp256k1/**/*.so
node_modules/.pnpm/secp256k1@5.0.1/node_modules/secp256k1/src/secp256k1/**/*.a
!node_modules/.pnpm/secp256k1@5.0.1/node_modules/secp256k1/src/secp256k1/**/.gitignore

node_modules/.pnpm/secp256k1@5.0.1/node_modules/secp256k1/src/secp256k1/**/Makefile
node_modules/.pnpm/secp256k1@5.0.1/node_modules/secp256k1/src/secp256k1/**/configure
node_modules/.pnpm/secp256k1@5.0.1/node_modules/secp256k1/src/secp256k1/**/.libs
node_modules/.pnpm/secp256k1@5.0.1/node_modules/secp256k1/src/secp256k1/**/Makefile.in
node_modules/.pnpm/secp256k1@5.0.1/node_modules/secp256k1/src/secp256k1/**/aclocal.m4
node_modules/.pnpm/secp256k1@5.0.1/node_modules/secp256k1/src/secp256k1/**/autom4te.cache
node_modules/.pnpm/secp256k1@5.0.1/node_modules/secp256k1/src/secp256k1/**/config.log
node_modules/.pnpm/secp256k1@5.0.1/node_modules/secp256k1/src/secp256k1/**/config.status
node_modules/.pnpm/secp256k1@5.0.1/node_modules/secp256k1/src/secp256k1/**/*.tar.gz
node_modules/.pnpm/secp256k1@5.0.1/node_modules/secp256k1/src/secp256k1/**/*.la
node_modules/.pnpm/secp256k1@5.0.1/node_modules/secp256k1/src/secp256k1/**/libtool
node_modules/.pnpm/secp256k1@5.0.1/node_modules/secp256k1/src/secp256k1/**/.deps
node_modules/.pnpm/secp256k1@5.0.1/node_modules/secp256k1/src/secp256k1/**/.dirstamp
node_modules/.pnpm/secp256k1@5.0.1/node_modules/secp256k1/src/secp256k1/**/*.lo
node_modules/.pnpm/secp256k1@5.0.1/node_modules/secp256k1/src/secp256k1/**/*.o
node_modules/.pnpm/secp256k1@5.0.1/node_modules/secp256k1/src/secp256k1/**/*~
node_modules/.pnpm/secp256k1@5.0.1/node_modules/secp256k1/src/secp256k1/**/src/libsecp256k1-config.h
node_modules/.pnpm/secp256k1@5.0.1/node_modules/secp256k1/src/secp256k1/**/src/libsecp256k1-config.h.in
node_modules/.pnpm/secp256k1@5.0.1/node_modules/secp256k1/src/secp256k1/**/src/ecmult_static_context.h
node_modules/.pnpm/secp256k1@5.0.1/node_modules/secp256k1/src/secp256k1/**/build-aux/config.guess
node_modules/.pnpm/secp256k1@5.0.1/node_modules/secp256k1/src/secp256k1/**/build-aux/config.sub
node_modules/.pnpm/secp256k1@5.0.1/node_modules/secp256k1/src/secp256k1/**/build-aux/depcomp
node_modules/.pnpm/secp256k1@5.0.1/node_modules/secp256k1/src/secp256k1/**/build-aux/install-sh
node_modules/.pnpm/secp256k1@5.0.1/node_modules/secp256k1/src/secp256k1/**/build-aux/ltmain.sh
node_modules/.pnpm/secp256k1@5.0.1/node_modules/secp256k1/src/secp256k1/**/build-aux/m4/libtool.m4
node_modules/.pnpm/secp256k1@5.0.1/node_modules/secp256k1/src/secp256k1/**/build-aux/m4/lt~obsolete.m4
node_modules/.pnpm/secp256k1@5.0.1/node_modules/secp256k1/src/secp256k1/**/build-aux/m4/ltoptions.m4
node_modules/.pnpm/secp256k1@5.0.1/node_modules/secp256k1/src/secp256k1/**/build-aux/m4/ltsugar.m4
node_modules/.pnpm/secp256k1@5.0.1/node_modules/secp256k1/src/secp256k1/**/build-aux/m4/ltversion.m4
node_modules/.pnpm/secp256k1@5.0.1/node_modules/secp256k1/src/secp256k1/**/build-aux/missing
node_modules/.pnpm/secp256k1@5.0.1/node_modules/secp256k1/src/secp256k1/**/build-aux/compile
node_modules/.pnpm/secp256k1@5.0.1/node_modules/secp256k1/src/secp256k1/**/build-aux/test-driver
node_modules/.pnpm/secp256k1@5.0.1/node_modules/secp256k1/src/secp256k1/**/src/stamp-h1
node_modules/.pnpm/secp256k1@5.0.1/node_modules/secp256k1/src/secp256k1/**/libsecp256k1.pc
fly.toml
